services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    environment:
      - QDRANT__SERVICE__API_KEY=qdrant_pass
    volumes:
      - ./qdrant_storage:/qdrant/storage:z
    restart: always
